<a href="https://colab.research.google.com/github/moch1996/Vaycold/blob/main/Recommend_Algorithm/%EB%94%A5%EB%9F%AC%EB%8B%9D%EA%B3%BC_%EC%B6%94%EC%B2%9C%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98%2C_%EC%98%81%ED%99%94_%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%85%8B_%EB%B9%84%EA%B5%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터셋 종류
 1. Movielens
 2. KMRD
 3. Netflix

In [1]:
import os
import pandas as pd

In [2]:
from google.colab import drive

In [3]:
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
data_path = '/content/drive/MyDrive/fastcampus/recommend/'

## Movielens 데이터

In [5]:
path = data_path+'movielens'
tags_df = pd.read_csv(os.path.join(path, 'tags.csv'), encoding='utf-8')
ratings_df = pd.read_csv(os.path.join(path, 'ratings.csv'), index_col = 'userId', encoding='utf-8')
movies_df = pd.read_csv(os.path.join(path, 'movies.csv'), index_col = 'movieId', encoding='utf-8')

NameError: ignored

In [22]:
def get_simple_df_info(df):
  print("dataframe 사이즈: ", df.shape)
  print("\n")
  print("dataframe 정보")
  print(df.info())
  print("\n")
  print("dataframe 간단 통계량")
  print(df.describe())
  print("\n")
  print("dataframe의 몇몇 데이터 샘플")
  print(df.head())

In [ ]:
get_simple_df_info(tags_df)

## KMRD 
 - Korean Moive Recommender system Dtaset
 - 네이버 영화 평점 사이트를 바탕으로 제작

In [5]:
%cd $data_path

/content/drive/MyDrive/fastcampus/recommend

In [6]:
!git clone https://github.com/lovit/kmrd

Cloning into 'kmrd'...
remote: Enumerating objects: 84, done.
remote: Counting objects: 100% (84/84), done.
remote: Compressing objects: 100% (51/51), done.
remote: Total 298 (delta 38), reused 69 (delta 33), pack-reused 214
Receiving objects: 100% (298/298), 194.05 MiB | 20.01 MiB/s, done.
Resolving deltas: 100% (135/135), done.

In [10]:
%cd $data_path/kmrd

/content/drive/MyDrive/fastcampus/recommend/kmrd

In [11]:
!python setup.py install

running install
running bdist_egg
running egg_info
creating kmr_dataset.egg-info
writing kmr_dataset.egg-info/PKG-INFO
writing dependency_links to kmr_dataset.egg-info/dependency_links.txt
writing requirements to kmr_dataset.egg-info/requires.txt
writing top-level names to kmr_dataset.egg-info/top_level.txt
writing manifest file 'kmr_dataset.egg-info/SOURCES.txt'
writing manifest file 'kmr_dataset.egg-info/SOURCES.txt'
installing library code to build/bdist.linux-x86_64/egg
running install_lib
running build_py
creating build
creating build/lib
creating build/lib/kmr_dataset
copying kmr_dataset/__init__.py -> build/lib/kmr_dataset
copying kmr_dataset/install.py -> build/lib/kmr_dataset
copying kmr_dataset/io.py -> build/lib/kmr_dataset
creating build/lib/kmr_dataset/datafile
creating build/lib/kmr_dataset/datafile/kmrd-small
copying kmr_dataset/datafile/kmrd-small/castings.csv -> build/lib/kmr_dataset/datafile/kmrd-small
copying kmr_dataset/datafile/kmrd-small/countries.csv -> build/lib/kmr_dataset/datafile/kmrd-small
copying kmr_dataset/datafile/kmrd-small/genres.csv -> build/lib/kmr_dataset/datafile/kmrd-small
copying kmr_dataset/datafile/kmrd-small/movies.txt -> build/lib/kmr_dataset/datafile/kmrd-small
copying kmr_dataset/datafile/kmrd-small/peoples.txt -> build/lib/kmr_dataset/datafile/kmrd-small
copying kmr_dataset/datafile/kmrd-small/rates.csv -> build/lib/kmr_dataset/datafile/kmrd-small
creating build/lib/kmr_dataset/datafile/kmrd
copying kmr_dataset/datafile/kmrd/meta.zip -> build/lib/kmr_dataset/datafile/kmrd
copying kmr_dataset/datafile/kmrd/rates-2m.zip -> build/lib/kmr_dataset/datafile/kmrd
copying kmr_dataset/datafile/kmrd/rates-5m.zip -> build/lib/kmr_dataset/datafile/kmrd
creating build/bdist.linux-x86_64
creating build/bdist.linux-x86_64/egg
creating build/bdist.linux-x86_64/egg/kmr_dataset
copying build/lib/kmr_dataset/__init__.py -> build/bdist.linux-x86_64/egg/kmr_dataset
copying build/lib/kmr_dataset/install.py -> build/bdist.linux-x86_64/egg/kmr_dataset
copying build/lib/kmr_dataset/io.py -> build/bdist.linux-x86_64/egg/kmr_dataset
creating build/bdist.linux-x86_64/egg/kmr_dataset/datafile
creating build/bdist.linux-x86_64/egg/kmr_dataset/datafile/kmrd-small
copying build/lib/kmr_dataset/datafile/kmrd-small/castings.csv -> build/bdist.linux-x86_64/egg/kmr_dataset/datafile/kmrd-small
copying build/lib/kmr_dataset/datafile/kmrd-small/countries.csv -> build/bdist.linux-x86_64/egg/kmr_dataset/datafile/kmrd-small
copying build/lib/kmr_dataset/datafile/kmrd-small/genres.csv -> build/bdist.linux-x86_64/egg/kmr_dataset/datafile/kmrd-small
copying build/lib/kmr_dataset/datafile/kmrd-small/movies.txt -> build/bdist.linux-x86_64/egg/kmr_dataset/datafile/kmrd-small
copying build/lib/kmr_dataset/datafile/kmrd-small/peoples.txt -> build/bdist.linux-x86_64/egg/kmr_dataset/datafile/kmrd-small
copying build/lib/kmr_dataset/datafile/kmrd-small/rates.csv -> build/bdist.linux-x86_64/egg/kmr_dataset/datafile/kmrd-small
creating build/bdist.linux-x86_64/egg/kmr_dataset/datafile/kmrd
copying build/lib/kmr_dataset/datafile/kmrd/meta.zip -> build/bdist.linux-x86_64/egg/kmr_dataset/datafile/kmrd
copying build/lib/kmr_dataset/datafile/kmrd/rates-2m.zip -> build/bdist.linux-x86_64/egg/kmr_dataset/datafile/kmrd
copying build/lib/kmr_dataset/datafile/kmrd/rates-5m.zip -> build/bdist.linux-x86_64/egg/kmr_dataset/datafile/kmrd
byte-compiling build/bdist.linux-x86_64/egg/kmr_dataset/__init__.py to __init__.cpython-37.pyc
byte-compiling build/bdist.linux-x86_64/egg/kmr_dataset/install.py to install.cpython-37.pyc
byte-compiling build/bdist.linux-x86_64/egg/kmr_dataset/io.py to io.cpython-37.pyc
creating build/bdist.linux-x86_64/egg/EGG-INFO
copying kmr_dataset.egg-info/PKG-INFO -> build/bdist.linux-x86_64/egg/EGG-INFO
copying kmr_dataset.egg-info/SOURCES.txt -> build/bdist.linux-x86_64/egg/EGG-INFO
copying kmr_dataset.egg-info/dependency_links.txt -> build/bdist.linux-x86_64/egg/EGG-INFO
copying kmr_dataset.egg-info/requires.txt -> build/bdist.linux-x86_64/egg/EGG-INFO
copying kmr_dataset.egg-info/top_level.txt -> build/bdist.linux-x86_64/egg/EGG-INFO
zip_safe flag not set; analyzing archive contents...
kmr_dataset.__pycache__.install.cpython-37: module references __file__
kmr_dataset.__pycache__.io.cpython-37: module references __file__
creating dist
creating 'dist/kmr_dataset-1.0.1-py3.7.egg' and adding 'build/bdist.linux-x86_64/egg' to it
removing 'build/bdist.linux-x86_64/egg' (and everything under it)
Processing kmr_dataset-1.0.1-py3.7.egg
creating /usr/local/lib/python3.7/dist-packages/kmr_dataset-1.0.1-py3.7.egg
Extracting kmr_dataset-1.0.1-py3.7.egg to /usr/local/lib/python3.7/dist-packages
Adding kmr-dataset 1.0.1 to easy-install.pth file

Installed /usr/local/lib/python3.7/dist-packages/kmr_dataset-1.0.1-py3.7.egg
Processing dependencies for kmr-dataset==1.0.1
Searching for numpy==1.19.5
Best match: numpy 1.19.5
Adding numpy 1.19.5 to easy-install.pth file
Installing f2py script to /usr/local/bin
Installing f2py3 script to /usr/local/bin
Installing f2py3.7 script to /usr/local/bin

Using /usr/local/lib/python3.7/dist-packages
Searching for scipy==1.4.1
Best match: scipy 1.4.1
Adding scipy 1.4.1 to easy-install.pth file

Using /usr/local/lib/python3.7/dist-packages
Finished processing dependencies for kmr-dataset==1.0.1

In [ ]:
'''
!git clone https://github.com/lovit/kmrd
!python setup.py install
'''

In [ ]:
'''
path = data_path + "kmrd"
%cd $path

if not os.path.exists(path):
  !git clone https://github.com/lovit/kmrd
  !python setup.py install
else:
  print("data and path already exists!")
'''

In [13]:
# dataset 종류
# 'small', '2m', '5m
# delimiter = '\t'

 - 2m 또는 5m은 zip파일로 되어 있음
 - kmr_dataset 있는 directory 임을 확인해야한다.

In [14]:
from kmr_dataset import load_rates
from kmr_dataset import get_paths

paths = get_paths(size='2m')
rates, timestamps = load_rates(size='2m')

Unzipped meta.zip
Unzipped rates-2m.zip
skip 44048 lines which are duplicated (user, item), #uniques=2570549

In [15]:
# 우리는 kmrd-small 데이터 사용 예정

In [17]:
data_path

'/content/drive/MyDrive/fastcampus/recommend/'

In [18]:
path = data_path + 'kmrd/kmr_dataset/datafile/kmrd-small'

In [20]:
print(os.listdir(path))

['castings.csv', 'countries.csv', 'genres.csv', 'movies.txt', 'peoples.txt', 'rates.csv']

In [23]:
castings_df = pd.read_csv(os.path.join(path, 'castings.csv'), encoding='utf-8')
get_simple_df_info(castings_df)

dataframe 사이즈:  (9776, 4)


dataframe 정보
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9776 entries, 0 to 9775
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movie    9776 non-null   int64
 1   people   9776 non-null   int64
 2   order    9776 non-null   int64
 3   leading  9776 non-null   int64
dtypes: int64(4)
memory usage: 305.6 KB
None


dataframe 간단 통계량
              movie         people        order      leading
count   9776.000000    9776.000000  9776.000000  9776.000000
mean   10499.104746   36151.930851     9.799509     0.295315
std      287.023933   62989.430164    12.576221     0.456208
min    10001.000000       5.000000     1.000000     0.000000
25%    10260.000000    4327.000000     3.000000     0.000000
50%    10485.000000   14048.500000     6.000000     0.000000
75%    10754.250000   27978.000000    10.000000     1.000000
max    10999.000000  420466.000000   101.000000     1.000000


dataframe의 몇몇 데이터 샘플
   movie  people  order  leading
0  10001    4374      1        1
1  10001     178      2        1
2  10001    3241      3        1
3  10001   47952      4        1
4  10001   47953      5        0

In [24]:
countries_df = pd.read_csv(os.path.join(path, 'countries.csv'), encoding='utf-8')
get_simple_df_info(countries_df)

dataframe 사이즈:  (1109, 2)


dataframe 정보
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1109 entries, 0 to 1108
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movie    1109 non-null   int64
 1   country  1109 non-null   object
dtypes: int64(1), object(1)
memory usage: 17.5+ KB
None


dataframe 간단 통계량
              movie
count   1109.000000
mean   10496.257890
std      285.409915
min    10001.000000
25%    10253.000000
50%    10492.000000
75%    10746.000000
max    10999.000000


dataframe의 몇몇 데이터 샘플
   movie country
0  10001    이탈리아
1  10001     프랑스
2  10002      미국
3  10003      미국
4  10004      미국

In [25]:
genres_df = pd.read_csv(os.path.join(path, 'genres.csv'), encoding='utf-8')
get_simple_df_info(genres_df)

dataframe 사이즈:  (2025, 2)


dataframe 정보
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2025 entries, 0 to 2024
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   movie   2025 non-null   int64
 1   genre   2025 non-null   object
dtypes: int64(1), object(1)
memory usage: 31.8+ KB
None


dataframe 간단 통계량
              movie
count   2025.000000
mean   10474.521975
std      289.972315
min    10001.000000
25%    10221.000000
50%    10474.000000
75%    10719.000000
max    10999.000000


dataframe의 몇몇 데이터 샘플
   movie   genre
0  10001     드라마
1  10001  멜로/로맨스
2  10002      SF
3  10002     코미디
4  10003      SF

In [26]:
movies_df = pd.read_csv(os.path.join(path, 'movies.txt'), sep='\t', encoding='utf-8')
get_simple_df_info(movies_df)

dataframe 사이즈:  (999, 5)


dataframe 정보
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   movie      999 non-null    int64
 1   title      992 non-null    object
 2   title_eng  991 non-null    object
 3   year       609 non-null    float64
 4   grade      957 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 39.1+ KB
None


dataframe 간단 통계량
              movie         year
count    999.000000   609.000000
mean   10500.000000  1987.471264
std      288.530761    15.303710
min    10001.000000  1926.000000
25%    10250.500000  1982.000000
50%    10500.000000  1989.000000
75%    10749.500000  1991.000000
max    10999.000000  2020.000000


dataframe의 몇몇 데이터 샘플
   movie                 title  ...    year    grade
0  10001                시네마 천국  ...  2013.0   전체 관람가
1  10002              빽 투 더 퓨쳐  ...  2015.0  12세 관람가
2  10003            빽 투 더 퓨쳐 2  ...  2015.0  12세 관람가
3  10004            빽 투 더 퓨쳐 3  ...  1990.0   전체 관람가
4  10005  스타워즈 에피소드 4 - 새로운 희망  ...  1997.0       PG

[5 rows x 5 columns]

In [27]:
peoples_df = pd.read_csv(os.path.join(path, 'peoples.txt'), sep='\t', encoding='utf-8')
get_simple_df_info(peoples_df)

dataframe 사이즈:  (7172, 3)


dataframe 정보
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7172 entries, 0 to 7171
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   people    7172 non-null   int64
 1   korean    7172 non-null   object
 2   original  6305 non-null   object
dtypes: int64(1), object(2)
memory usage: 168.2+ KB
None


dataframe 간단 통계량
              people
count    7172.000000
mean    45828.791132
std     70461.756830
min         5.000000
25%      7157.000000
50%     15658.500000
75%     42337.000000
max    420466.000000


dataframe의 몇몇 데이터 샘플
   people    korean        original
0       5    아담 볼드윈    Adam Baldwin
1       8   애드리안 라인     Adrian Lyne
2       9     에이단 퀸     Aidan Quinn
3      13  구로사와 아키라  Akira Kurosawa
4      15     알 파치노       Al Pacino

In [28]:
rates_df = pd.read_csv(os.path.join(path, 'rates.csv'), encoding='utf-8')
get_simple_df_info(rates_df)

dataframe 사이즈:  (140710, 4)


dataframe 정보
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140710 entries, 0 to 140709
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   user    140710 non-null  int64
 1   movie   140710 non-null  int64
 2   rate    140710 non-null  int64
 3   time    140710 non-null  int64
dtypes: int64(4)
memory usage: 4.3 MB
None


dataframe 간단 통계량
                user          movie           rate          time
count  140710.000000  140710.000000  140710.000000  1.407100e+05
mean    14948.679916   10278.818861       8.953258  1.297460e+09
std     14539.728057     292.806259       2.106047  1.374877e+08
min         0.000000   10001.000000       1.000000  1.069340e+09
25%      2980.000000   10048.000000       9.000000  1.180398e+09
50%      9292.000000   10148.000000      10.000000  1.271521e+09
75%     24129.000000   10489.000000      10.000000  1.409478e+09
max     52027.000000   10998.000000      10.000000  1.576526e+09


dataframe의 몇몇 데이터 샘플
   user  movie  rate        time
0     0  10003     7  1494128040
1     0  10004     7  1467529800
2     0  10018     9  1513344120
3     0  10021     9  1424497980
4     0  10022     7  1427627340

In [29]:
 # 장르 데이터 확인

In [30]:
genres_df.head()

   movie   genre
0  10001     드라마
1  10001  멜로/로맨스
2  10002      SF
3  10002     코미디
4  10003      SF

In [54]:
genres_df.movie.values

array([10001, 10001, 10002, ..., 10999, 10999, 10999])

In [36]:
groups = genres_df.groupby('movie')

In [40]:
# 예쁘게 다듬자 무비같은 경우에 10001이 두개의 행으로 나누어져 있으니 하나로 합쳐서 나타내보자.
groups = genres_df.groupby('movie')
# list comprehension 용법
genres = [(list(set(x['movie'].values))[0], '/'.join(x['genre'].values)) for index, x in groups]
combined_genres_df = pd.DataFrame(data=genres, columns=['movie', 'genres'])
combined_genres_df = combined_genres_df.set_index('movie')
combined_genres_df.head()

              genres
movie
10001     드라마/멜로/로맨스
10002         SF/코미디
10003         SF/코미디
10004  서부/SF/판타지/코미디
10005   판타지/모험/SF/액션

In [55]:
groups.groups

{10001: [0, 1], 10002: [2, 3], 10003: [4, 5], 10004: [6, 7, 8, 9], 10005: [10, 11, 12, 13], 10006: [14, 15, 16, 17], 10007: [18, 19, 20, 21], 10008: [22, 23, 24, 25], 10009: [26, 27, 28, 29], 10010: [30, 31, 32, 33, 34], 10011: [35, 36, 37, 38], 10012: [39, 40, 41], 10013: [42, 43, 44, 45, 46, 47, 48], 10014: [49, 50], 10015: [51, 52, 53], 10016: [54, 55, 56, 57], 10017: [58, 59], 10018: [60, 61, 62, 63], 10019: [64, 65, 66], 10020: [67, 68, 69], 10021: [70, 71], 10022: [72, 73], 10023: [74, 75], 10024: [76, 77], 10025: [78, 79], 10026: [80, 81, 82], 10027: [83, 84, 85], 10028: [86, 87, 88], 10029: [89, 90], 10030: [91, 92, 93], 10031: [94, 95], 10032: [96, 97], 10033: [98, 99], 10034: [100, 101, 102], 10035: [103, 104, 105], 10036: [106], 10037: [107, 108], 10038: [109, 110, 111, 112], 10039: [113, 114], 10040: [115, 116, 117, 118], 10041: [119, 120, 121], 10042: [122, 123, 124], 10043: [125, 126, 127, 128], 10044: [129, 130], 10045: [131, 132], 10046: [133, 134, 135], 10047: [136, 137, 138], 10048: [139], 10049: [140, 141, 142, 143], 10050: [144, 145, 146], 10051: [147, 148], 10052: [149, 150], 10053: [151], 10054: [152], 10055: [153, 154, 155], 10056: [156, 157], 10057: [158, 159], 10058: [160, 161, 162, 163], 10059: [164, 165], 10060: [166], 10061: [167, 168, 169, 170], 10062: [171, 172, 173], 10063: [174], 10064: [175], 10065: [176], 10066: [177, 178, 179], 10067: [180, 181], 10068: [182, 183, 184], 10069: [185], 10070: [186, 187, 188], 10071: [189, 190, 191], 10072: [192, 193], 10073: [194, 195], 10074: [196, 197, 198, 199], 10075: [200, 201], 10076: [202, 203], 10077: [204, 205], 10078: [206, 207], 10079: [208, 209], 10080: [210, 211], 10081: [212], 10082: [213], 10083: [214], 10084: [215], 10085: [216], 10086: [217], 10087: [218, 219, 220], 10088: [221, 222], 10089: [223, 224, 225], 10090: [226], 10091: [227, 228], 10092: [229, 230, 231], 10093: [232, 233], 10094: [234, 235], 10095: [236, 237, 238], 10096: [239, 240, 241], 10097: [242, 243, 244], 10098: [245, 246], 10099: [247, 248], 10100: [249, 250], ...}

In [43]:
groups['movie'].

AttributeError: ignored